apiVersion: v1
kind: Template
metadata:
  creationTimestamp: null
  name: provision-project
objects:
- apiVersion: v1
  kind: Project
  metadata:
    annotations:
    creationTimestamp: null
    name: provision-test
- apiVersion: v1
  kind: ServiceAccount
  metadata:
    creationTimestamp: null
    name: builder
- apiVersion: v1
  kind: ServiceAccount
  metadata:
    creationTimestamp: null
    name: default
- apiVersion: v1
  kind: ServiceAccount
  metadata:
    creationTimestamp: null
    name: deployer
- apiVersion: v1
  groupNames: null
  kind: RoleBinding
  metadata:
    creationTimestamp: null
    name: system:deployers
  roleRef:
    name: system:deployer
  subjects:
  - kind: ServiceAccount
    name: deployer
    namespace: provision-test
  userNames:
  - system:serviceaccount:provision-test:deployer
- apiVersion: v1
  groupNames: null
  kind: RoleBinding
  metadata:
    creationTimestamp: null
    name: system:image-builders
  roleRef:
    name: system:image-builder
  subjects:
  - kind: ServiceAccount
    name: builder
    namespace: provision-test
  userNames:
  - system:serviceaccount:provision-test:builder
- apiVersion: v1
  groupNames:
  - system:serviceaccounts:provision-test
  kind: RoleBinding
  metadata:
    creationTimestamp: null
    name: system:image-pullers
  roleRef:
    name: system:image-puller
  subjects:
  - kind: SystemGroup
    name: system:serviceaccounts:provision-test
  userNames: null
