apiVersion: v1
kind: List
items:
- apiVersion: v1
  kind: ClusterResourceQuota
  metadata:
    name: test-clusterresourcequota
  spec:
    quota:
      hard:
        pods: 8 
        secrets: 8
    selector:
      annotations:
        openshift.io/requester: testuser
      labels: null
